.page--forgot-password {
    background-color: lightyellow;

    .forgot-password {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;

        .form {
            max-width: 400px;
            width: 100%;
        }
    }
}
